doctype html
html(ng-app="routingApp")
  head
    title Southwest Coder Dojo
    link(rel="stylesheet", href="/stylesheets/bootstrap-3.3.5-dist/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/angular.min.js")
    script(src="/javascripts/angular-route.min.js")
    script(type="text/javascript", src="/javascripts/app.js")
    base(href="/")
  body
    block content